body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(to bottom, #6a0dad 0%, #b266ff 100%);

}



  
  .top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  a.button {
    background-color: white;
    color: #6a0dad;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 10px;
  }
  
  a.button:hover {
    background-color: #ddd;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #353535, #888); /* gris oscuro a gris claro */
    z-index: -1;
  }
  
  body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* altura del bloque blanco */
    background-color: white;
    border-top: 1px solid #000; /* linea negra separadora */
    z-index: 1;
  }
  
  
  .footer-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: white;
    border-top: 6px solid #000;
    z-index: 2;
    box-sizing: border-box;
    color: #000;
    font-family: 'Georgia', serif;
    font-size: 1rem;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-right: 20px; /* Espacio entre el logo y el texto */
  }
  
  
  .footer-right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .footer-right a, .footer-right span {
    color: #000;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  